.ICEauthority
.NERDTreeBookmarks
.aptitude/
.bash_history
.cache/
.compiz/
.config/
.dbus/
.esd_auth
.evolution/
.gconf/
.gconfd/
.gem/
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.homeconfig.git/
.irb-history
.irb-save-history
.irb_history
.k5login
.local/
.mozilla/
.oh-my-zsh/
.pulse-cookie
.pulse/
.rdebug_hist
.recently-used.xbel
.rvm/
.subversion/
.trc
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.vim/
.viminfo
.w3m/
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop/
archive/
examples.desktop
test.sh
tmp/
.ssh
agent.sh
.juicer
workspace
.homeconfig*
.lesshst
.node_modules
.npm
lworkspace
